.form-container {
    height: 100%;
    padding: 1rem;
}
input {
    border: none;
    background-color: transparent;
    font-size: var(--form-input-font-size);
}

input:focus {
    outline: none;
}

.input-controll {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-controll img {
    height: 80%;
}

.button-controll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tip-btn {
    max-width: 6rem;
    min-height: 4rem;
}

